#body {
    margin-left: 190px;

    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 0px;

    width: 100% - 197px;
    height: 100%;
}

#table_line_text a {
    color: #2b219e;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif
}

#table_line_text a:hover {
  text-decoration: underline;
}

#table_line_text a:visited {
  color: revert;
}
    
.div1 { grid-area: 1 / 1 / 2 / 16; 
    width: 100%;
    min-width: 900px;
    height: 100%;
    min-height: 70px;
    overflow-y: hidden;
    justify-content: center;
    align-content: center;
    text-align: center;
}

  .quantify {
    margin: auto;
    width: 90%;
    height: 90%;
  }

.div2 { grid-area: 9 / 1 / 10 / 16; 
    height: 100%;
    min-height: 70px;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div3 { grid-area: 2 / 1 / 9 / 16; 
    overflow-y: wrap;
    width: 100% - 10px;
    min-width: 250px;
    /* float: left; */
    /* border: 1px solid; */
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    /* border-radius: 16px; */
}
  .tab-filters {
    width: 250px;
    margin-right: 10px;
    height: 100%;
    border: 1px solid;

    display: flex;
    flex-flow: column;
  }

  .filters {
    overflow-y: scroll;
    width: inherit;
    flex: 1;
  }

  .tab-statistics {
    border: 1px solid;

    float: right;

    min-width: 0;

    flex: 1 1 auto;

    height: 100%;

    display: flex;
    flex-flow: column;
  }
  
  .statistics {
    overflow-y: scroll;
    flex: 1;
  }

  .padtop {
    padding-top: 15px;
  }

  .div4 { 
    overflow-y: scroll;
    border: 1px solid;

    float: right;

    flex-grow: 1;

    height: 100%

    /* margin-left: 280px; */
    /* border-radius: 16px; */
  }
  
  .div5 { 
      overflow-y: scroll;
      border: 1px solid;
      float: right;

      flex-grow: 1;

      height: 100%
      /* margin-left: 280px; */
      /* border-radius: 16px; */
  }

.hidden {
  display: none !important
}
  
  a {
    color: #eee;
    text-decoration: none;
  }
  
  
  body {
    width: 100%;
    height: 100%;
    background: url(texture-noise.png);
    overflow-y: scroll;
    overflow-x: scroll;
    margin: 0;
    font-size: 14px;
    font-family: "Lucida Bright", Georgia;
  }

  html {
    height: 100%
  }
  
  
  h1 {
      margin: 20px;
  }
  
  .spacer {
      display: inline-block;
      width: 1em;
  }

  #met_pattern {
    width: 210px;
    float: left;
    margin: 20px;
  }
  
  #all_lists {
      width: 250px;
      float: left;
  }
  
  #all_lines {
      float: left;
  }

  .center {
    text-align: center;
    margin: 5px auto;
  }
  
  .my_lists {
      /*width: 500px;*/
      /*float: left;*/
      margin: 20px;
  }

  #dataChart {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .clear_div {
      clear: both;
  }
  
  .clear_widget {
      font-size: 18px;
      font-weight: bold;
      padding-top: 20px;
      margin-left: 20px;
  }
  
  
  
  .integer_td {
      text-align: right;
  }
  
  
  #div1_type span {
      display: inline-block;
      padding-right: 5px;
      color: #444444;
      font-weight: normal;
      text-align: right;
      font-size: 90%;  
  }
  
  #line_text :where(span:not(.select-item):not(.select-info)) {
      display: inline-block;
      width: 40px;
      padding-right: 5px;
      color: #444444;
      font-weight: normal;
      text-align: right;
      font-size: 90%;  
  }

  #speaker span {
    display: inline-block;
    width: 40px;
    padding-right: 5px;
    padding-left: 5px;
    color: #444444;
    font-weight: normal;
    text-align: left;
    font-size: 70%;  
}



  /* so the buttons look normal */
  #div1_type .dt-button span {
    display: inherit;
    width: inherit;
    padding-right: initial;
    color: inherit;
    font-weight: inherit;
    text-align: inherit;
    font-size: inherit;
  }

  #line_text .dt-button span {
    display: inherit;
    width: inherit;
    padding-right: initial;
    color: inherit;
    font-weight: inherit;
    text-align: inherit;
    font-size: inherit;
  }

  #speaker .dt-button span {
    display: inherit;
    width: inherit;
    padding-right: initial;
    padding-left: initial;
    color: inherit;
    font-weight: inherit;
    text-align: inherit;
    font-size: inherit;
  }
  
  
  /* #chartContainer {
      display: inline-block;
  } */

  @font-face {
    font-family: Menlo; /*a name to be used later*/
    src: url('Menlo-Regular.ttf'); /*URL to font*/
}

  .meter-markings {
    font-family: Menlo;
  }
  

  /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  text-align: center;
  box-sizing: border-box;
  width: inherit;
  height: 50px;
  z-index: 8;
  display: flex;
}

.tab h2 {
  font-size: 1.75em;
  margin: 10px 0px;
  flex: 1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  height: inherit;
  font-family: "Lucida Bright", Georgia;
  flex: 1 1 max-content;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
