.header {
    width: 190px;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0px;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 40px;
    background-color: #3a3a3a;
    color: #eee;
    text-align: center;
    padding: 0px;
    font-family: "Lucida Bright";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .header #title {
    margin-top:30px;
    margin-block-end: 0px;
  }
  
  #plays {
    /* position:absolute; */
    /* width:200px; */
    /* height:30px; */
    font-size:13px;
    text-align: center;
    /* margin-left: 1em; */
    /* margin-top:-8px; */
  }
  
  #plays a {
      padding-right: 10px;
  }
  
  .header a {
    
    cursor:pointer;
  }
  
  .header a:hover {
    color:gainsboro;
  }
  
  #title {
    text-align: center;
  }
  
  #author {
    padding: 0px;
    /* margin-left: 50px;
    position: absolute;*/
    margin-top: -5px; 
    margin-bottom: 0px;
  
    font-size: 18px;
    color: #999;
    text-align: center;
  }
  
  hr {
    width: 172px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .sidenav {
    /* width: 190px; */
    /* position: fixed; */
    left: 0;
    z-index: 9;
    top: 0px;
    bottom: 0px;
    background-color: #3a3a3a;
    /* padding-top: 155px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .links {	
    position: relative;	
    margin-top: 5px;	
  }	
  
  .links a {
    position: relative;
    /* margin-left: 30px; */
    padding: 3px 30px;
    text-align: left;
    font-family: "Lucida Bright", Georgia;
    font-weight: 400;
    font-size: 18px;
    color: #eee;
    text-shadow: 0 1px 0 #000;
    display: block;
    transition: 0.3s;
    z-index:8;
  }
  
  .links a:hover {
    color: #f1f1f1;
    background-color: #999;
  }
  
  .sidebar a:hover {
    background-color: #999;
  }
  
  .sources p {
    position: relative;
    font-size: 12px;
    padding: 10px;
    margin: 0px 0px;
    background-color: #3a3a3a;
    color: #eee;
    text-align: left;
    z-index:10;
  }
